<footer class="footer">
  <nav aria-labelledby="pagination-nav">
    <h5>Explorations</h5>
      {% set navPages = collections.explorations | eleventyNavigation | reverse %}
<ul id="pagination-nav">
{%- for entry in navPages %}
  <li>
    <a class="{% if entry.url == page.url %} active{% endif %} button button__pagination" href="{{ entry.url }}">{{ entry.title }}</a> 
  </li>
{%- endfor %}
</ul>
  </nav>
</footer>