<header class="header">
  <div class="header__info">
    <h1><a href="/">Vivienne Reay</a></h1>
        <a href="#" id="openContactModal" class="contact-link">
          me@vivreay.co.uk
        </a>
  </div>
  {% include '_nav.njk' %}
</header>