<nav role="navigation" class="header__nav">
  <ul role="list" class="nav-list">
    <li><a href="/" class="{{ 'active' if tags == "frontPage"}} button">Index</a></li>
    <li><a href="/notes/" class="{% if '/notes' in page.url %}active{% endif %} button">Notes</a></li>
  </ul>
</nav>