<nav role="navigation" class="header__nav">
  {% set currentUrl = page.url or '/' %}
  <ul role="list" class="nav-list">
    <li>
      <a
        href="/"
        class="button{% if tags == 'frontPage' %} active{% endif %}"
      >
        Index
      </a>
    </li>

    {# Loop over the top-level collections discovered dynamically in /_data/homeCollections.js #}
    {% for col in homeCollections %}
      {% set isActive = ('/' ~ col.slug ~ '/') in currentUrl %}
      <li>
        <a
          href="/{{ col.slug }}/"
          class="button{% if isActive %} active{% endif %}"
        >
          {{ col.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
