<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '_meta.njk' %}
  </head>
<body>
<a href="#main-content" class="visually-hidden">Skip to main content</a>
  <main class="content-grid">
    {% include '_header.njk' %}
    
    {%- if tags == "pages" or tags == "frontPage" -%}
      <ul id="main-content" class="card" role="list">
        {{ content | safe }}
      </ul>
    {%- else -%}
        {{ content | safe }}
    {%- endif -%}
    
    {% if tags != "pages" and tags != "frontPage" %}
    {% include '_sidebar.njk' %}
    {% endif %}

  </main>
    
    {% include '_contact-modal.njk' %}

</body>
</html>