---
title: Explorations
layout: 'base.njk'
---
<ul class="gallery" role="list">
  {% for galleryImage in galleryImages %}
  <li>
      <figure>
        <img alt="AI Text-Image Exploration - {{ page.date | postDate }} - Image {{ galleryImage.image }}" src="/assets/explorations/{{ page.date | postYear }}/{{ page.date | postMonth }}/{{ pageId }}/{{ galleryImage.image }}.webp" />
        <figcaption>Image {{ galleryImage.image }}</figcaption>
      </figure>
  </li>
  {% endfor %}
</ul>

{% include '_footer.njk' %}