---
layout: 'base.njk'
---
<div class="post-title">
<h2 id="main-content">
  <span>Notes on Music:</span> 
  <br />{{ title }}
  <br /><span class="post-date">{{ page.date | postDate }}
</span>
</h2>
</div>

<article class="notes">
  <div class="notes__image">
  <img src="/assets/music/{{ pageId }}.webp" alt="photo of {{ pageId }}">
  </div>

  <div class="notes__content">
    {{ content | safe }}
  </div>
</article>