<li>
  <a href="{{ post.url }}">
    <figure tabindex="0">
        <img class="invert-light" alt="{{ post.data.pageId }} logo" src="/assets/notes/{{ post.data.pageId }}.webp" />
        <figcaption>{{ post.data.title }}</figcaption>
    </figure>
  </a>
</li>