.card {
  grid-column: full-width;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 1rem;
  margin-inline: 1rem;
  list-style: none;
  padding: 0;

  img {
    height: 40vmin;
    width: 100%;
    object-fit: cover;
    transform: scale(1) translate(0, 0);
    transition: transform 1200ms ease-in;
  }

  figure {
    /* reset figure default margin */
    margin: 0;
    height: 40vmin;
    background-color: var(--clr-tertiary);

    display: grid;
    grid-template-areas: "card";
    place-items: end;
    overflow: hidden;
  }

  @supports (aspect-ratio: 1) {
    figure,
    img {
      aspect-ratio: 4/3;
      /* Remove height to prevent distorting aspect-ratio */
      height: auto;
    }
  }

  figure > * {
    grid-area: card;
  }

  figcaption {
    transition: transform 800ms 400ms ease-in;
    font-size: $fs-body;
    /* Visual styles for the caption */
    padding: 0.25em 0.5em;
    background-color: var(--clr-bg);
    /* provide stacking context */
    z-index: 1;
  }
  figure:hover figcaption,
  figure:focus figcaption {
    color: var(--clr-secondary);
    transform: translateY(0);
  }
  figure:hover img,
  figure:focus img {
    transform: scale(1.3) translate(-8%, -3%);
  }
  figure:focus {
    outline: 2px solid var(--clr-tertiary);
    outline-offset: 2px;
  }

  @media (any-hover: hover) and (any-pointer: fine) {
    figcaption {
      transform: translateY(100%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      transition-duration: 0ms !important;
    }
    img {
      transform: none !important;
    }
    figcaption {
      transition-delay: 0ms;
    }
  }
}
