.header {
  grid-column: full-width;
  padding-inline: 1rem;
  margin-bottom: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include breakpoint(medium) {
    grid-column: breakout-right;
    margin-bottom: 4rem;
  }

  &__info {
    flex: 1 0 100%;
    margin-top: 0;
    padding: 1rem 1rem 0 0;
    line-height: 0.7rem;

    @include breakpoint(medium) {
      height: 22rem;
      padding: 1rem;
      border-right: 1px solid var(--clr-tertiary);
    }

    @include breakpoint(medium) {
      flex: 1;
      text-align: right;
    }
  }

  &__nav {
    align-self: end;

    .nav-list {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 1;

      li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  a {
    text-decoration: none;
  }
}
