.sidebar {
  grid-column: full-width;
  padding-inline: 1rem;

  @include breakpoint(medium) {
    grid-column: content-end / breakout-right;
    justify-self: end;
    text-align: right;
  }

  &__content {
    @include breakpoint(medium) {
      padding: 0;
    }
  }
}
