html {
  box-sizing: border-box;
  color-scheme: light dark;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: $basefont;
  line-height: 1.7;
  background-color: var(--clr-bg);
  color: var(--clr-primary);
  margin: 0;
}
