:root {
  --clr-primary: hsl(0, 0%, 2%);
  --clr-bg: hsl(120, 2%, 90%);
  --clr-secondary: hsl(105, 2%, 40%);
  --clr-tertiary: hsl(120, 2%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: hsl(0, 0%, 98%);
    --clr-bg: hsl(120, 2%, 10%);
    --clr-secondary: hsl(105, 2%, 60%);
    --clr-tertiary: hsl(120, 2%, 20%);
  }
}
@media (prefers-color-scheme: light) {
  .invert-light {
    filter: invert(100%);
  }
}
