$fs-body: 1.25rem;

h1,
h3,
h4,
h5,
figure,
ul,
ol,
p,
.post-date {
  font-weight: 500;
}

h2 {
  margin: 0 0 1rem 0;
  width: max-content;
  padding: 1.3rem 1rem 1.5rem 1rem;
  color: var(--clr-primary);
  background-color: var(--clr-tertiary);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.3;

  .post-date,
  span {
    font-size: 1rem;
    letter-spacing: 0.01em;
  }
  span {
    font-weight: 700;
  }
}
h3 {
  font-size: 3.0519rem;
}
h4 {
  font-size: 1.9531rem;
}
h5 {
  font-size: 1.5625rem;
}

h3,
h4,
h5 {
  line-height: 1.1;
  margin: 0;
}

.sidebar h5,
.footer h5 {
  margin-bottom: 2rem;
}

h1,
h2,
p,
a,
ul,
ol,
dl,
.nav-list {
  font-size: $fs-body;
}

.sidebar ul,
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.notes {
  dl,
  ol,
  ul {
    margin-bottom: 1em;
  }
  dl li + li,
  ol li + li,
  ul li + li {
    margin-top: 0.75em;
  }
  dd {
    margin: 0 0 1em 0;
  }
  dt {
    font-size: 1.9531rem;
  }
}

pre[class*="language-"] + h4 {
  margin: 2rem 0 1.7rem 0;
}

h4 + pre[class*="language-"] {
  margin-top: 1.7rem;
}

a {
  text-underline-offset: 0.2em;
  color: var(--clr-primary);
  transition: color 250ms ease-in-out;
}
a:hover,
a.active,
.active a {
  color: var(--clr-secondary);
}
.header a {
  text-decoration: none;
}
.sidebar a {
  text-decoration: none;
  border-bottom: 1px solid var(--clr-tertiary);
  display: block;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
strong {
  font-weight: 700;
}
code {
  color: var(--clr-primary);
  background: var(--clr-tertiary);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
  padding: 0.2em;
}
.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
