$fs-body: 1.25rem;

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
figure,
ul,
ol,
p,
.post-date {
  font-weight: 500;
}

h1,
h2,
p,
a,
ul,
ol,
dl,
.nav-list {
  font-size: $fs-body;
}

h3 {
  font-size: 3.0519rem;
}
h4 {
  font-size: 1.9531rem;
}
h5 {
  font-size: 1.5625rem;
}

a {
  text-underline-offset: 0.2em;
  color: var(--clr-primary);
  transition: color 250ms ease-in-out;
}
a:hover,
a.active,
.active a {
  color: var(--clr-secondary);
}

strong {
  font-weight: 700;
}

code {
  color: var(--clr-primary);
  background: var(--clr-tertiary);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
  padding: 0.2em;
}
.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
