---
title: Home
layout: 'base.njk'
tags: frontPage
---

{% import 'macros.njk' as macros %}

{%- for colInfo in homeCollections -%}
  {{ macros.collection_card(colInfo.slug, colInfo) }}
{%- endfor -%}
